.property-create-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .property-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .form-row.horizontal {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-row input,
  .form-row textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .horizontal label {
    flex: 1;
    margin-right: 10px;
  }
  
  .horizontal label:last-child {
    margin-right: 0;
  }
  
  .file-input {
    margin-top: 8px;
  }
  
  .uploaded-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .image-preview {
    position: relative;
    display: inline-block;
  }
  
  .preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .remove-image-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-image-button:hover {
    background-color: #a71d2a;
  }
  
  .submit-button {
    width: 80px;
    background-color: #f70101;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #db2644;
  }
  .back-button{
    width: 80px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button:hover {
    background-color: #66a3e4;
  }
  .form-row-action{
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  